# The University of Hong Kong
## DASC7600 Data Science Project 2024

# Import modules

In [1]:
import pandas as pd
import warnings
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

%matplotlib inline

# Functions

In [2]:
def print_missing_val_count(df: pd.DataFrame) -> None:
    # Missing value counts
    df_na_cnt = df.isnull().sum()
    df_record_cnt = df.shape[0]
    
    # Print the count of missing value for each feature
    if df_na_cnt.sum() > 0:
        print('The following columns have missing values:')
        for col, na_cnt in zip(df_na_cnt.index, df_na_cnt.values):
            if na_cnt > 0:
                print(f'{col}: {na_cnt} ({100*na_cnt/df_record_cnt:0.1f}%)')
    else:
        print('The dataframe does not have missing values.')

# Load Data

In [3]:
# Read csv files
covid_hk_df = pd.read_csv('./data/raw_data/hk/enhanced_sur_covid_19_eng.csv')

# Basic Information of Data Set

In [4]:
# Print first 10 records in dataframe
covid_hk_df.head(10)

,Case no.,Report date,Date of onset,Gender,Age,Name of hospital admitted,Hospitalised/Discharged/Deceased,HK/Non-HK resident,Classification*,Case status*
0,1,23/01/2020,21/01/2020,M,39,NaN,Discharged,Non-HK resident,Imported case,Confirmed
1,2,23/01/2020,18/01/2020,M,56,NaN,Discharged,HK resident,Imported case,Confirmed
2,3,24/01/2020,20/01/2020,F,62,NaN,Discharged,Non-HK resident,Imported case,Confirmed
3,4,24/01/2020,23/01/2020,F,62,NaN,Discharged,Non-HK resident,Imported case,Confirmed
4,5,24/01/2020,23/01/2020,M,63,NaN,Discharged,Non-HK resident,Imported case,Confirmed
5,6,26/01/2020,21/01/2020,M,47,NaN,Discharged,HK resident,Imported case,Confirmed
6,7,26/01/2020,21/01/2020,F,68,NaN,Discharged,HK resident,Imported case,Confirmed
7,8,26/01/2020,25/01/2020,M,64,NaN,Discharged,Non-HK resident,Imported case,Confirmed
8,9,29/01/2020,25/01/2020,F,73,NaN,Discharged,Non-HK resident,Imported case,Confirmed
9,10,29/01/2020,25/01/2020,M,72,NaN,Discharged,Non-HK resident,Imported case,Confirmed

In [5]:
# Basic information of dataframe
covid_hk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15441 entries, 0 to 15440
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Case no.                          15441 non-null  int64
 1   Report date                       15441 non-null  object
 2   Date of onset                     15421 non-null  object
 3   Gender                            15435 non-null  object
 4   Age                               15435 non-null  object
 5   Name of hospital admitted         0 non-null      float64
 6   Hospitalised/Discharged/Deceased  15435 non-null  object
 7   HK/Non-HK resident                15435 non-null  object
 8   Classification*                   15435 non-null  object
 9   Case status*                      15441 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.2+ MB

# Modify Data Types

In [6]:
# Modify data type for datatime column
covid_hk_df['Report date'] = pd.to_datetime(covid_hk_df['Report date'])

# Data Exploratory Analysis (EDA)

## Univariate Analysis

## Field - Case no.

In [7]:
print('The field "Case no." is a key column (no duplicate values):', covid_hk_df['Case no.'].nunique() == covid_hk_df['Case no.'].shape[0])

The field "Case no." is a key column (no duplicate values): True

## Field - Name of hospital admitted

In [8]:
# Distinct values in hospital name column
covid_hk_df['Name of hospital admitted'].drop_duplicates().to_list()

[nan]

## Field - Report date

In [9]:
# Report date range of data set
covid_hk_df['Report date'].agg(['min', 'max'])

min   2020-01-02
max   2022-12-01
Name: Report date, dtype: datetime64[ns]

## Field - Case status*

In [10]:
# Distinct values in hospital name column
covid_hk_df['Case status*'].drop_duplicates().to_list()

['Confirmed', 'Deleted', 'Asymptomatic', 'Re-positive', 'Pending', 'Unknown']

In [11]:
# Print records with case status "Deleted"
covid_hk_df[covid_hk_df['Case status*'] == 'Deleted']

,Case no.,Report date,Date of onset,Gender,Age,Name of hospital admitted,Hospitalised/Discharged/Deceased,HK/Non-HK resident,Classification*,Case status*
11251,11252,2021-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deleted
11264,11265,2021-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deleted
11351,11352,2021-03-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deleted
11702,11703,2021-04-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deleted
11725,11726,2021-04-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deleted
13143,13144,2022-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deleted

In [12]:
# Print records with case status "Unknown"
covid_hk_df[covid_hk_df['Case status*'] == 'Unknown']

,Case no.,Report date,Date of onset,Gender,Age,Name of hospital admitted,Hospitalised/Discharged/Deceased,HK/Non-HK resident,Classification*,Case status*
14531,14532,2022-03-02,Unknown,M,41,NaN,Pending admission,Non-HK resident,Imported case,Unknown

## Field - Report date

In [13]:
# # Line chart - Number of new Covid-19 cases (Hong Kong)
# plt.subplots(figsize=(15, 8))
# plt.plot(covid_hk_df['Report date'].dt.strftime('%Y-%m').value_counts().sort_index())
# plt.title('Number of new Covid-19 cases (Hong Kong)')
# plt.xlabel('Year-Month (%Y-%m)')
# plt.ylabel('Number of newly reported cases')
# plt.xticks(rotation=90)
# plt.show()

## Field - Age

In [14]:
# # Bar plot - Number of Covid-19 cases by Age (Hong Kong)
# plt.subplots(figsize=(15, 8))
# plt.hist(covid_hk_df[~covid_hk_df['Age'].isin(['<1', 'Pending'])]['Age'].dropna().astype('int'))
# plt.title('Number of Covid-19 cases vs age (Hong Kong)')
# plt.xlabel('Age')
# plt.ylabel('Number of cases')
# plt.show()

## Fields - Gender and HK/Non-HK resident

In [15]:
# # Pie Charts
# # Value counts of Gender and HK/Non-HK resident
# gender_count = covid_hk_df['Gender'].dropna().astype('str').value_counts()
# resident_count = covid_hk_df['HK/Non-HK resident'].dropna().astype('str').value_counts()

# # Create a figure and add the axes for subgraphs
# fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(12, 5))
# fig.suptitle('Distribution of Covid-19 cases (Hong Kong)', fontsize=16)

# # Pie Chart - Percentage of Covid-19 cases by Gender (Hong Kong)
# axes[0].pie(gender_count.values, labels = gender_count.index, autopct='%1.2f%%', pctdistance=0.66, labeldistance=1.05)
# axes[0].set_xlabel('Gender')

# # Pie Chart - Percentage of Covid-19 cases by HK/Non-HK resident (Hong Kong)
# axes[1].pie(resident_count.values, labels = resident_count.index, autopct='%1.2f%%', pctdistance=0.66, labeldistance=1.05)
# axes[1].set_xlabel('Resident / Non-Resident')

# plt.tight_layout()
# plt.show()

## Fields - Hospitalised/Discharged/Deceased and Classification

In [16]:
# # Bar plots
# # Value counts of Hospitalised/Discharged/Deceased and Classification
# case_outcome_count = covid_hk_df['Hospitalised/Discharged/Deceased'].dropna().astype('str').value_counts()
# classification_count = covid_hk_df['Classification*'].dropna().astype('str').value_counts()

# # Create a figure and add the axes for subgraphs
# fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(12, 8))
# fig.suptitle('Number of Covid-19 cases (Hong Kong)', fontsize=16)

# # Bar plot - Number of Covid-19 cases by Hospitalised/Discharged/Deceased (Hong Kong)
# axes[0].bar(case_outcome_count.index, case_outcome_count.values)
# axes[0].set_xlabel('Hospitalised/Discharged/Deceased')
# axes[0].set_ylabel('Number of cases')
# axes[0].set_xticklabels(case_outcome_count.index, rotation=45)

# # Bar plot - Number of Covid-19 cases by Classification (Hong Kong)
# axes[1].bar(classification_count.index, classification_count.values)
# axes[1].set_xlabel('Classification*')
# axes[1].set_ylabel('Number of cases')
# axes[1].set_xticklabels(classification_count.index, rotation=90)

# plt.tight_layout()
# plt.show()

## Multivariate Analysis

In [17]:
# # Stack Bar Plot of Age Group and Gender
# age_gender_df = covid_hk_df[(covid_hk_df['Age'] != 'Pending') & (~covid_hk_df['Age'].isna()) & (covid_hk_df['Gender'] != 'Pending')]
# age_gender_df = age_gender_df[['Age', 'Gender']].replace({'Age': {'<1':'0'}})

# age_gender_df['Age Group'] = pd.cut(age_gender_df['Age'].astype('int'),
#                                     bins=[0, 20, 40, 60, 80, 101],
#                                     labels=['0-19','20-39','40-59','60-79','80-100'],
#                                     right=False)

# age_gender_cnt = age_gender_df[age_gender_df['Age'] != 'Pending'].groupby(['Age Group', 'Gender']).size().reset_index(name='count')
# age_gender_cnt = age_gender_cnt.pivot(index='Age Group', columns='Gender', values='count')
# age_gender_cnt.reset_index(inplace=True)
# age_gender_cnt['Age Group'] = pd.Categorical(age_gender_cnt['Age Group'])
# age_gender_cnt = age_gender_cnt.sort_values('Age Group')

# age_gender_cnt.plot(
#     x = 'Age Group', 
#     kind = 'barh', 
#     stacked = True, 
#     title = 'Stacked Bar Plot of Age Group and Gender for Covid-19 cases (Hong Kong)', 
#     mark_right = True) 

# plt.xlabel('Count')
# plt.ylabel('Age Group')
# plt.show()

## Missing Value Analysis

In [18]:
# Number of missing values in each coumns
print_missing_val_count(covid_hk_df)

The following columns have missing values:
Date of onset: 20 (0.1%)
Gender: 6 (0.0%)
Age: 6 (0.0%)
Name of hospital admitted: 15441 (100.0%)
Hospitalised/Discharged/Deceased: 6 (0.0%)
HK/Non-HK resident: 6 (0.0%)
Classification*: 6 (0.0%)

The field "Name of hospital admitted" does not have non-NULL values.

As shown in univariate analysis on field "Case status*", all missing values in fields "Gender", "Age", "Hospitalised/Discharged/Deceased", "HK/Non-HK resident" and "Classification*" belong to records with "Case status*" == "Deleted".