# The University of Hong Kong
## DASC7600 Data Science Project 2024
## EDA - HK - Policy

# Import Modules and Settings

In [1]:
import os
import sys

# Add project directory to system path
project_dir = os.path.dirname(os.getcwd())
sys.path.append(project_dir)

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import warnings

import covid_module

# Settings
pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

%matplotlib inline

# Load Data

In [3]:
# Read csv file
## The dataset is manually prepared based on the following websites.
## Therefore, there is no data pre-processing step, and the csv file is stored in the 'std_data' folder.
## Website name: Wikipedia
## URL: https://zh.wikipedia.org/wiki/2019冠狀病毒病香港疫情相關安排#管制商業活動及群組聚集
## Website name: news.gov.hk
## URL: https://www.news.gov.hk/eng/categories/covid19/index.html 
covid_hk_policy_std = pd.read_csv(project_dir + '/data/std_data/hk/covid_hk_policy_std.csv')

# Basic Information of Data Set

In [4]:
# Print first 5 records
covid_hk_policy_std.head(5)

,report_date,school,no_hong_kong_p,hong_kong_group,hong_kong_all,home_other_14,home_21,home_14,home_7,home_3,type_1_close,type_2_close,type_3_close,people2,people4,people8,0500_1800,0500_2200,0500_0200
0,1/1/2020,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2/1/2020,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,3/1/2020,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4/1/2020,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5/1/2020,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
# Basic information of dataframe
covid_hk_policy_std.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1155 entries, 0 to 1154
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   report_date      1155 non-null   object
 1   school           1155 non-null   float64
 2   no_hong_kong_p   1155 non-null   int64
 3   hong_kong_group  1155 non-null   int64
 4   hong_kong_all    1155 non-null   int64
 5   home_other_14    1155 non-null   int64
 6   home_21          1155 non-null   int64
 7   home_14          1155 non-null   int64
 8   home_7           1155 non-null   int64
 9   home_3           1155 non-null   int64
 10  type_1_close     1155 non-null   int64
 11  type_2_close     1155 non-null   int64
 12  type_3_close     1155 non-null   int64
 13  people2          1155 non-null   int64
 14  people4          1155 non-null   int64
 15  people8          1155 non-null   int64
 16  0500_1800        1155 non-null   int64
 17  0500_2200        1155 non-null   int64
 18  0500_0200        1155 non-null   int64
dtypes: float64(1), int64(17), object(1)
memory usage: 171.6+ KB

# Modify Data Types

In [6]:
# Modify data type for datatime column
covid_hk_policy_std['report_date'] = pd.to_datetime(covid_hk_policy_std['report_date'], format='%d/%m/%Y')

# Exploratory Data Analysis (EDA)

## Univariate Analysis

## Field - report_date

In [7]:
# Report date range of data set
min_date, max_date = covid_hk_policy_std['report_date'].agg(['min', 'max']).astype('str').to_list()
print('Date range of dateset:')
print(f'Min date: {min_date}')
print(f'Max date: {max_date}')

Date range of dateset:
Min date: 2020-01-01
Max date: 2023-02-28

In [8]:
# Dates which are not included in the dataset
date_df = covid_hk_policy_std[['report_date']].set_index('report_date')
missing_date_index = pd.date_range(start=min_date, end=max_date).difference(date_df.index).astype('str')

if len(missing_date_index) == 0:
    print('There is no missing date in the dataset.')
else:
    print(f'There are missing dates in the dataset, between {missing_date_index.min()} and {missing_date_index.max()}.')

There is no missing date in the dataset.

## Fields - All columns (except Date)

In [9]:
# Distinct values in country code column
print('Distinct values in each column')
for col in covid_hk_policy_std.columns:
    if col != 'report_date':
        print(f'{col}: {str(covid_hk_policy_std[col].drop_duplicates().to_list())[1:-1]}')

Distinct values in each column
school: 0.0, 1.0, 1.5
no_hong_kong_p: 0, 1
hong_kong_group: 0, 1
hong_kong_all: 0, 1
home_other_14: 0, 1
home_21: 0, 1
home_14: 0, 1
home_7: 0, 1
home_3: 0, 1
type_1_close: 0, 1
type_2_close: 0, 1
type_3_close: 0, 1
people2: 0, 1
people4: 0, 1
people8: 0, 1
0500_1800: 0, 1
0500_2200: 0, 1
0500_0200: 0, 1

In [10]:
# For each date, there are at most 1 non-zreo value in these 3 columns 0500_1800, 0500_2200, 0500_0200 etc>

The descriptions of the columns and the meanings of their values are listed below: <br>
school: 0.0, 1.0, 1.5 <br>
no_hong_kong_p: 0, 1 <br>
hong_kong_group: 0, 1 <br>
hong_kong_all: 0, 1 <br>
home_other_14: 0, 1 <br>
home_21: 0, 1 <br>
home_14: 0, 1 <br>
home_7: 0, 1 <br>
home_3: 0, 1 <br>
type_1_close: 0, 1 <br>
type_2_close: 0, 1 <br>
type_3_close: 0, 1 <br>
people2: 0, 1 <br>
people4: 0, 1 <br>
people8: 0, 1 <br>
0500_1800: 0, 1 <br>
0500_2200: 0, 1 <br>
0500_0200: 0, 1 <br>

## Missing Value Analysis

In [11]:
# Number of missing values in each column
covid_module.print_missing_val_count(covid_hk_policy_std)

This dataframe does not have missing values.